.container
{
    background-color: white;
    border-radius: 8px;
    width: 300px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;

}

img{
    height: 100px;
    width: 100px;
}
button{
    background-color: black;
    color: white;
}